<div class="navbar">
  <%= image_tag("logo192.png", class: 'logo') %>
  <ul class="links">
    <%= link_to 'Posts', posts_path, class: 'link' %>
    <%= link_to 'About', about_path, class: 'link' %>
    <%= link_to 'Contact', contact_path, class: 'link' %>
  </ul>
</div>